absl-py==2.1.0
addict==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
albucore==0.0.7
albumentations==1.4.8
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
auto-py-to-exe==2.43.3
autopep8==1.4.4
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
bottle-websocket==0.2.9
bottle==0.12.25
brotli==1.1.0
build==1.1.1
cachecontrol==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.0.7
chroma-hnswlib==0.7.3
chromadb==0.4.24
cleo==2.1.0
click==8.1.7
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.2.0
crashtest==0.4.1
cryptography==42.0.5
cuda-python==12.5.0
customtkinter==5.2.1
cvat-sdk==2.11.2
cycler==0.12.1
cython==3.0.10
darkdetect==0.8.0
dataclasses-json==0.6.6
datumaro==1.6.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
deprecated==1.2.14
distlib==0.3.8
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django==2.2.14
dnspython==2.1.0
docker-pycreds==0.4.0
dominate==2.6.0
dotenv==0.0.5
dulwich==0.21.7
easydict==1.13
eel==0.16.0
email-validator==2.1.1
environ==1.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi-cli==0.0.3
fastapi==0.111.0
fastjsonschema==2.19.1
filelock==3.13.1
flask-bcrypt==1.0.1
flask-bootstrap==3.3.7.1
flask-login==0.5.0
flask-mail==0.9.1
flask-moment==1.0.2
flask-sqlalchemy==2.5.1
flask-uploads==0.2.1
flask-wtf==0.15.1
flask==3.0.0
flatbuffers==24.3.7
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gast==0.4.0
gevent-websocket==0.10.1
gevent==24.2.1
geventhttpclient==2.0.2
gitdb==4.0.11
gitpython==3.1.43
google-auth-oauthlib==1.0.0
google-auth==2.29.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
gpt4all==2.6.0
greenlet==3.0.3
grpcio==1.62.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.2
imageio==2.34.0
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==7.0.0
importlib-resources==6.4.0
insightface==0.7.3
installer==0.7.0
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
jax==0.4.28
jedi==0.19.1
jinja2==3.1.3
joblib==1.3.2
json-stream-rs-tokenizer==0.4.26
json-stream==2.3.2
jsonpatch==1.33
jsonpointer==2.4
jupyter-client==8.6.0
jupyter-core==5.7.1
kaggle==1.6.8
keras==2.12.0
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==29.0.0
langchain-chroma==0.1.0
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.1
langchain==0.1.20
langchainhub==0.1.15
langsmith==0.1.57
lazy-loader==0.3
libclang==18.1.1
lightning-utilities==0.11.2
lxml==5.2.1
markdown-it-py==3.0.0
markdown==3.5.2
markupsafe==2.1.5
marshmallow==3.21.2
matplotlib-inline==0.1.6
matplotlib==3.6.2
mdurl==0.1.2
ml-dtypes==0.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nibabel==5.2.1
numpy==1.26.4
oauthlib==3.2.2
onnx-simplifier==0.4.35
onnx==1.15.0
onnxruntime==1.17.1
opencv-python-headless==4.9.0.80
opencv-python==4.9.0.80
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
openvino-telemetry==2024.1.0
openvino==2024.1.0
opt-einsum==3.3.0
orjson==3.10.0
outcome==1.3.0.post0
overrides==7.7.0
ovmsclient==2023.1
packaging==23.2
paho-mqtt==2.0.0
pandas==2.2.1
paramiko==3.3.1
parso==0.8.3
pathtools==0.1.2
peewee==3.17.1
pefile==2023.2.7
pep8==1.7.1
pexpect==4.9.0
pillow==10.3.0
pip==24.0
pkginfo==1.10.0
platformdirs==4.2.0
poetry-core==1.9.0
poetry-plugin-export==1.7.1
poetry==1.8.2
posthog==3.5.0
prettytable==3.10.0
promise==2.3
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pulsar-client==3.5.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1-modules==0.4.0
pyasn1==0.6.0
pycocotools==2.0.7
pycodestyle==2.5.0
pycparser==2.21
pydantic-core==2.18.2
pydantic==2.7.1
pyemd==1.0.0
pygments==2.17.2
pyinstaller-hooks-contrib==2024.3
pyinstaller==6.5.0
pynacl==1.5.0
pyopenssl==24.1.0
pyparsing==3.1.1
pypika==0.48.9
pyproject-hooks==1.0.0
pyqt5-qt5==5.15.2
pyqt5-sip==12.13.0
pyqt5==5.15.10
pyqt6-qt6==6.7.0
pyqt6-sip==13.6.0
pyqt6==6.7.0
pyreadline3==3.4.1
pysocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.1
python-dotenv==0.19.0
python-multipart==0.0.9
python-rapidjson==1.17
python-slugify==8.0.4
python3-openid==3.1.0
pytorch-lightning==2.2.5
pytz==2024.1
pywin32-ctypes==0.2.2
pywin32==306
pyyaml==6.0.1
pyzmq==25.1.2
rapidfuzz==3.6.2
redis==5.0.1
requests-oauthlib==1.2.0
requests-toolbelt==1.0.0
requests==2.31.0
rich==13.7.0
robotframework-pythonlibcore==4.4.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.3.0
robotframework==7.0
rsa==4.9
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
selenium==4.20.0
sentry-sdk==1.44.0
setproctitle==1.3.3
setuptools==67.6.1
shapely==2.0.4
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlalchemy==1.4.23
sqlite-web==0.6.3
sqlparse==0.2.4
stack-data==0.6.3
starlette==0.37.2
stripe==2.61.0
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
tensorboard-data-server==0.7.2
tensorboard==2.12.3
tensorboardx==2.6.2.2
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.12.0
termcolor==2.4.0
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.3.0
tifffile==2024.2.12
timm==1.0.3
tinydb==4.8.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.4
torch==2.2.0
torchmetrics==1.4.0.post0
torchvision==0.17.0
tornado==6.4
tqdm==4.66.4
traitlets==5.14.1
trio-websocket==0.11.1
trio==0.25.0
tritonclient==2.46.0
trove-classifiers==2024.3.3
tuspy==0.2.5
typer==0.12.3
types-requests==2.31.0.20240406
typing-extensions==4.9.0
typing-inspect==0.9.0
tzdata==2024.1
ujson==5.10.0
ultralytics==8.1.15
urllib3==2.2.1
uvicorn==0.29.0
virtualenv==20.25.1
visitor==0.1.3
waitress==3.0.0
wandb==0.13.5
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webdrivermanager==0.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
werkzeug==3.0.2
wheel==0.43.0
whichcraft==0.6.1
wrapt==1.14.1
wsproto==1.2.0
wtforms==2.3.3
yarl==1.9.4
zipp==3.18.1
zope.event==5.0
zope.interface==6.2